<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        <!--</div>-->
    </form>

    <button class="btn btn-lg btn-default btn-block loginButton">Sign in</button>

    <div class="showResult"></div>

</div>




<script>
    document.querySelector('.loginButton').addEventListener('click', function() {


        var email = document.getElementsByName('email')[0].value;
        var password = document.getElementsByName('password')[0].value;

        console.log("clicked");
        console.log("email: " + email);
        console.log("password: " + password);

        sendAjax('http://localhost:3000/login', email, password);
    });


    // Ajax로 전달
    function sendAjax(url, email, password) {
        var data = { 'email' : email, 'password' : password };

        data = JSON.stringify(data);

        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open('POST', url); // POST로 보냄
        xmlHttpRequest.setRequestHeader('Content-Type', 'application/json');
        xmlHttpRequest.send(data);

        xmlHttpRequest.addEventListener('load', function() {
            console.log("responseText : " + xmlHttpRequest.responseText);
            var result = JSON.parse(xmlHttpRequest.responseText);
            var resultDiv = document.querySelector(".showResult");

            console.log("xmlHttpRequest.status : " + xmlHttpRequest.status);
            console.log("xmlHttpRequest.status of result : " + result);

            if (result.email) {
                console.log("Success");
                window.location.href="/main";
            }
            else if (xmlHttpRequest.status === 401) {
                console.log("401 : " + result);
                resultDiv.innerHTML = result + "<div class='signup'><a href='/join'>Sign up</a></div>";
            }
            else {
                console.log("Other");
                resultDiv.innerHTML = result;
            }

            console.log("done!!");
        });

    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
